@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Title Bar */
#MobileTitleRow {display: none;}
#MobileTitleColumn {display: none;}


#DesktopTitleColumn {
    width: 30vw;
    color: #ffffff; font-size: 32pt; text-align: center;
    font-family: 'Open Sans', sans-serif;}


#TitleDiv {right: 0px; width: 4px; height: 80px; top: 10px; 
    background-color: #ffffff;}
#MobileTitleDiv {display: none;}

#BodyEdge {background-color: #ffffff; width:20%;}

/* Programming Page */
.InvisibleDesktop {display: none; width: 0px; height: 0px;}
.InvisibleMobile { }


.ImageDiv {width: 25vw; height: 25vw; background-color: black;}


/* Animation Page */
#current {width: 80%;}


/*about me*/
#AboutImage {width:30vw; height: 22.5vw}