@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Title Bar */
#MobileTitleRow {background-color:#303030; height: 75px; 
    left:0px; top: 0px;}
#MobileTitlecolumn { 
    width: 30vw;
    color: #ffffff; font-size: 24pt; text-align: center;
    font-family: 'Open Sans', sans-serif;}


#DesktopTitleColumn {display: none;}


#TitleDiv {display: none;}
#MobileTitleDiv {
    right: 10px; left: 10px; height: 3px; 
    background-color: #ffffff;}

#BodyEdge {background-color: #ffffff; width:5%;}

/* Programming Page */
.InvisibleDesktop {}
.InvisibleMobile {display: none; width: 0px; height: 0px;}

.ImageDiv {width: 50vw; height: 50vw; background-color: black;}


/* Animation Page */
#current {width: 80%;}

