@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

a.NavLink {color:inherit; text-decoration: none;}
a.NavLink:hover {color: #25aac6; text-decoration: none;}

a.TitleLink {color:inherit; text-decoration: none;}

a.GenericLink {color:#25aac6;}
a.GenericLink:hover {color:#78CCAD}

a.text {color:inherit; text-decoration: none;}

body {padding: 0; margin: 0;}

#MainTable {width: 100%; height: 100%;
    border-collapse:collapse; border: 0px;}

#TopBarRow {background-color:#303030; height: 100px; 
    left:0px; top: 0px;}


#TitleDivColumn {width: 3vw}

#NavTable {width:100%; height: 100px;
    color: #ffffff; text-align: center; font-size: 15pt;
    font-family: 'Open Sans', sans-serif;}

#ContentPad {height: 24pt; }

#BodyRow {height: 100%; width: 100%;}

#BodyTable {height: 100%; width: 100%;
    border-collapse:collapse; border: 0px;}

#BodyDiv {top: 100px; height: 100%;}

#BodyEdge {background-color: #ffffff; width:20%;}


h1 { font-size: 40pt; color: #25aac6; line-height: 1em;
    font-family: 'Open Sans', sans-serif;}

h2 { font-size: 30pt; color: #68c2ba; line-height: 1em;
    font-family: 'Open Sans', sans-serif;}

h3 { font-size: 20pt; color: #78CCAD; line-height: 1em;
    font-family: 'Open Sans', sans-serif;}

p {font-size: 15pt; color: #505050; 
    font-family: 'Calibri', 'Candara', 'Segoe', "Segoe UI"}