
#header {background-color: #808080;
    position: absolute; top: 0px; left: 0px;
    width: 100%; height: 15vw;}

#headerBar {
    background-color: #404040; 
    position: absolute; left: 0px; top: 0px; width: 100%; height: 10vw;
    display: table;}

#headerText {display: table-cell; vertical-align: middle;
    color: #ffffff;  text-align: center;
    font-size: 5.5vw; font-family: Tahoma, Geneva, sans-serif; letter-spacing: -1px;}

#navBar {background-color: #404040;
    position: absolute; left: 0px; top: 10vw; width: 100%; height: 5vw;
    display: table;}

#navBarTable {width: 90%; position: relative; left: 7%;}

#navBarTD {padding-top: 0%; color: #f4f0b7;
     font-size: 3vw; text-align: left;}

#navBarSelector { position: absolute; background-color: #25aac6;
    height: 0.3vw; top: 14.2vw; margin: auto;}

#backDrop {background-color: #808080;
    position: absolute; top: 15vw; left: 0px;
    width: 100%; bottom: 0%;}

#tabSelector {background-color: #f4f0b7;}

#main {background-color: #ffffff;
    position: absolute; top: 0%; left: 5%; bottom: 5%;
    width: 90%;}


div.bodyText { 
    position: relative; width: 90%; left:5%;}

p.title {font-size: 32pt; color: #25aac6; line-height: 0px;}

p.subtitle {font-size: 24; color: #68c2ba;}

p.main {font-size: 16; color: #000000; line-height: 16px;}