#header {background-color: #808080;
    position: absolute; top: 0px; left: 0px;
    width: 100%; height: 22vh;}

#headerBar {
    background-color: #404040; 
    position: absolute; left: 0px; top: 0px; width: 100%; height: 15vh;
    display: table;}

#headerText {display: table-cell; vertical-align: middle;
    color: #ffffff; font-size: 8vh; text-align: center;}

#navBar {background-color: #404040;
    position: absolute; left: 0px; top: 15vh; width: 100%; height: 7vh;
    display: table;}

#navBarTable {width: 80%; position: relative; left: 10%;}

#navBarTD {padding-top: 1vh; color: #f4f0b7;
     font-size: 3vh; text-align: left;}

#navBarSelector { position: absolute; background-color: #25aac6;
    height: 0.5vh; top: 4.75vh; align-self: center;}

#backDrop {background-color: #808080;
    position: absolute; top: 22vh; left: 0px;
    width: 100%; height: 78vh;}

#tabSelector {background-color: #f4f0b7;}

#main {background-color: #ffffff;
    position: absolute; top: 0%; left: 5%;
    width: 90%; height: 90%;}


div.bodyText { 
    position: relative; width: 90%; left:5%;}

p.title {font-size: 32pt; color: #25aac6;}

p.subtitle {font-size: 24; color: #68c2ba;}

p.main {font-size: 15; color: #000000;}